* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.header {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
	border: 1px solid #ececec;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content:space-between;

}

.logo {
	display: flex;
	align-items: center;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: 0.68px;
	text-decoration: none;
	margin: 25px 0;
}

.logo span {
	color: #f16d7f;
	font-weight: 400;
	letter-spacing: 0.68px;
}

.btn {
	display: flex;
	align-items: center;
	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	background-color: #cdcdcc;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	text-decoration: none;
	color: #222222;
	font-weight: 300;
	line-height: 32px;
	letter-spacing: 0.35px;
	padding: 0 10px;
}

.inpu-header {
	width: 317px;
	border: none;
	padding: 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	color: #a4a4a4;
}

.loupe {
    padding: 7px 5px;
    border: 1px solid #e6e6e6;
    border-left: none;
    background-color: #ffffff;
    color: #a4a4a4;
    border-radius: 0 3px 3px 0;
}

.btn2 {
	background-color: #f16d7f;
	text-decoration: none;
	color: #ffffff;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.38px;
	padding: 0 10px;
}

.left-block, .right-block {
	display: flex;
	align-items: center;
}

.form {
	align-items: center;
	display: flex;
	margin-left: 30px;
}

/*выпадающее меню*/

.dropdown-menu {
	display: none;
	z-index: 2;
}

.dropdown-styles {
	position: absolute;
	top: 68px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
}

.dropdown-title {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	border-bottom: 1px solid #e8e8e8;
	line-height: 30px
}

.dropdown-menu-link {
	color: #000;
	text-decoration: none;
}

.dropdown-menu-link:hover {
	color: #f16d7f;
	text-decoration: none;
}

.list-dropdown-menu {
	list-style: none;
	padding: 10px;
	margin: 0;
	line-height: 27px;
}
.triangle::before, .triangle::after {
    content: "";
    position: absolute;
    left: 68px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #e8e8e8; }
  .triangle::after {
    border-bottom: 10px solid #ffffff;
    top: -19px; 
}

.dropdown:hover .dropdown-menu, .nav-link {
	display: block;
}
/*Навигация*/

.flex-nav {
	margin: 0;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content:center;
    border-top: 1px solid #e8e8e8;
}

.dropdown-styles-nav {
	position: absolute;
	top: 69px;
	left: -32px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
}


.nav-link {
	padding: 25px 20px;
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;

}

.nav-link:hover {
	padding: 25px 20px;
	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
	color: #f16d7f;
}

.nav-items {
	position: relative;
	border-bottom: 3px solid transparent;
}

.nav-items:hover {
	border-bottom: 3px solid #f16d7f;
}

.nav-items:first-child {
	border-bottom: 3px solid red;
}

.nav-items:first-child:hover {
	border-bottom: 3px solid #f16d7f;
}